<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{uuid}}</title>
</head>
<body style="text-align: center;">
    <h1>We are able to find your image!</h1>
    <h3>Click the button below to view your image</h3>
    <button onclick="location.href='/images/{{uuid}}{{extension}}'">
        Open the image
    </button>
</body>
</html>